.nav-link {
  color: black;
}
.carousel-caption {
  max-width: 650px;
}
.footer {
  min-height: 280px;
}
.toast-main {
  width: 280px;
  position: absolute;
  top: 50;
  right: 0;
}
.min-height {
  min-height: 585px;
}
